<div class="list card">

        <div class="item">
          <h2>Fireabll</h2>
          <p>Does brun over time doing 1 damage</p>
        </div>

        <div class="item item-image">
          <img src="http://www.axure.com/c/attachments/forum/7-0-general-discussion/3919d1401387174-turn-placeholder-widget-into-image-maintain-interactions-screen-shot-2014-05-29-10.46.57-am.png">
        </div>

        <a class="item item-icon-left assertive" href="#">
          <i class="icon ion-music-note"></i>
          FireBall
        </a>
        </div>